body{
    background-color: #e6f3ff;
    padding: 100px;
}





.tagline{
    color: blueviolet;
    font-style: italic;
}

img {
    float: right;
}


.pricelist {
    font-size: 25px;
    padding-top: 160px;
    font-weight: bold;
}

table{
    border: 1px solid black;
    width: 100%;

}

td, th{
    text-align: left;
    padding: 16px;
    padding: 12px;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    background-color: orange;
    color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    
    
}


